*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  max-width: 480px;
font-family: 'PT Sans', sans-serif;;
}

  /* navbar */
  .navbar{
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  background-color: #0A84FD;
  margin-bottom: 30px 
  }

  .navbar-logo{
margin-left: 20px;
  align-items: center;
  width: 30%;
  height: 100%;
  }

/* menu hamburger FINO ai 1200px */
.menu-h{
  color: white;
  margin-top: 30px;
  margin-right: 20px;
}

/* menu DAI 1200px */
.menu1200px {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 50%;
  text-decoration: none;
  cursor: pointer;
  display: none;
  }

.d-flex{
  display: flex;
}

.button{
  width: 100px;
  height: 100%;
  }

.button-start a{
display: flex;
background-color: white;
color: black;
width: 80px;
height: 30px;
border-radius: 20px;
justify-content: center;
align-items: center;
}

li{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  }

a{
  display: flex;
  text-decoration: none;
  color: white;
} 
/* /menu dai 1200px */


/*prima sezione container */
.container{
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
  margin-bottom: 60px;
  margin-top: 60px;
}

.margin-card{
  margin-bottom: 20px;
  border-radius: 20px;
  text-align: center;
  }

.card-demo{
  width: 100%;
  background-color: #B5DDFF;
  }

.card-demo p{
  padding: 30px;
  line-height: 30px;
  text-align: left;
  color: #3C4853;
}

h2{
  padding-top:20px ;
  color: #047DFD;
}

.fa-apple{
  margin-right: 10px;
}

.button-app-store{
background-color: #0A84FD;
width: 300px;
height: 40px;
margin: 0 auto;
border-radius: 20px;
justify-content: center;
align-items: center;
font-size: 20px;
}

img{
  margin-top: 25px;
  max-width: 55%;
}
.i-file{
  padding-top: 20px;
  font-size: 60px;
  color: #047DFD;
}

p{
  padding: 30px;
  line-height: 30px;
  color: #3C4853;
}

.card{
  width: 100%;
  }
.clean{
  background-color: #B5DDFF;
  }
  

.web-design{
  background-color: #B5DDFF;
  }

.developement{
  background-color:#B5DDFF;
  }
  
.branding{
  background-color: #B5DDFF;
  }
/*  seconda sezione container viola */
.container-violet{
  background-color: #9893E4;
  max-width: 100%;
  }

.card-strategic{
  display: flex;
  justify-content: center;
}

.card-app h2{
  margin-top: 40px;
  margin-left: 40px;
  color: white;
}

.card-app p{
  margin-top: 40px;
  color: white;
}

.card-app{
  margin: 0 auto;
}

.container-app-dev{
  background-color: white;
  height: 500px;
  width: 300px;
  margin: 0 auto;
  border-radius: 40px;
}

h3{
  padding: 30px;
  margin-bottom: -30px;
  line-height: 30px;
  color: #3C4853;
}

.arrow{
  display: flex;
  align-items:center ;
  justify-content: center;
  background-color: #9792E4;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  border-radius: 50px;
}

/* terza sezione */
.container-testimonial{
  max-width: 100%;
  margin: 0 auto;
}

.title-card{
  margin-top: 40px;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.title-card h4{
  padding-top: 40px;
}

.title-card h2 {
  font-size: 30px;
text-align: center;
  color: #9792E4;
}

.card-foto{
  color: white;
  background-color: #9792E4;
  border-radius: 30px;
  margin: 0 auto;
  width: 90%;
  margin-bottom: 20px;
}

.foto{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #047DFD;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: 0 auto;
}

.card-foto img{
height: 100%;
width: 100%;
object-fit: cover;
}

.testo{
  margin-left: 30px;
  margin-right: 30px;
  line-height: 30px;
}
.testo .fa-solid{
  font-size: 25px;
  margin-left: 20px;
  margin-right: 20px;
}

.testo h3{
  text-align: center;
  color: white;
  text-transform: uppercase;
  margin-bottom: 40px;
}
/* quarta sezione */

.container-benefit{
  background-color: #9792E4;
  width: 100%;
}

.box-title{
  width: 100%;
  height: 150px;
  background-color: #9792E4;
  line-height: 40px;
  letter-spacing: 2px;
  font-size: 1.2rem;
}

.box-title h2{
  margin-top: 90px;
  color: white;
  text-align: center;
  padding-top: 50px;
}

.card-benefit{
  width: 90%;
  border-radius: 40px;
  background-color: #fff;
  margin: 0 auto;
  margin-bottom: 20px;
}

.card-benefit h2{
  padding-top: 50px ;
  color: #9792E4;
  font-size: 40px;
  margin-left: 40px;
}

.card-benefit h3{
  color: #9792E4;
  font-size: 25px;
}
.card-benefit p{
  color: #929292;
}

.more{
  display: flex;
  margin-left: 40px;
}

.btn-more{
  background-color: #9792E4;
  color: white;
  height: 35px;
  width: 120px;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  border-radius: 20px;
  letter-spacing: 2px;
}

/* quinta sezione */
.about-us{
  width: 100%;
}

.card-about{
  width: 90%;
  margin: 0 auto;
}

.card-about h2{
  margin-top: 40px;
  color: #9792E4;
  margin-left: 33px;
  padding-top: 50px;
  font-size: 40px;
}

.card-about p{
  color: #929292;
}

.card-help{
  width: 90%;
  margin: 0 auto;
  height: 400px;
}

.photo-bc{
  display: flex;
  background-color: #047DFD;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  line-height: 40px;
}

.card-help h2{
  color: #9792E4;
}

.btn-linkedin{
  background-color: #9792E4;
  color: white;
  height: 30px;
  width: 200px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-top: 20px;
}

.fa-linkedin{
  margin-right: 9px;
}


/* sesta sezione */

.container-get-started{
  display: flex;
  align-items: center;
  background: #9792E4;
  height: 600px;
  width: 100%;
}

.card-started{
  text-align: center;
  letter-spacing: 2px;
  width: 90%;
  height: 85%;
  margin: 0 auto;
}

.card-started h4{
  text-transform: uppercase;
  color: #d8d6f8;
}

.card-started h3{
  color: white;
  font-size: 25px;
}

.card-started h2{
  font-size: 45px;
  color: #FDC261;
}

.card-started p{
color: white;
}

.started{
  display: flex;
  justify-content: center;
}
.btn-started{
  background-color: #fff;
  color: #9792E4;
  height: 50px;
  width: 240px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  margin-top: 20px;
}

.copyright{
  margin-top: 40px;
  display: flex;
  justify-content: center;
  font-size: 0.7rem;
}

.fa-circle{
  font-size: 6px;
  align-items: center;
}
.copy{
  color: white;
  font-size: 0.7rem;
}

#underline{
  
}

/* footer */

footer{
  background-color: #333;
  width: 100%;
  color: white;
}

.footer-text p{
  font-size: 0.8rem;
  text-align: center;
  color: white;
  width: 90%;
  height: 90%;
  margin: 0 auto;
}

#inline{
color: #9792E4;
text-decoration: underline;
}


/* inizio media query */
/* risoluzione tablet */
@media screen and (min-width:768px){
body{
  max-width: 768px;
}

.row1 , .row2{
  display: flex;
}

.card{
  width: calc(100%/3);
  height:450px;
  }

  .clean-code{
    height: 600px;
  }

  .card-foto{
    height: 200px;
  }

  .row-card-first, .row-card-second, .row-card-third{
  display: flex;
}

.card-benefit{
  width: 50%;
  background-color: #e8e7f8;
  margin: 0 auto;
  margin-bottom: 20px;
  height: 300px;
  border: 1px solid black;
}

  .about-us{
    display: flex;
  }

  .card-help{
    height: 350px;
    width: 45%;
    background-color: rgb(181, 150, 113);
  }

}

/* risoluzione dekstop */
@media screen and (min-width:1200px){

  body{
    max-width: 1200px;
  }
  .menu-h{
    display: none;
  }
  .menu1200px{
    display: block;
  }

  .row1{
    display: flex;
    justify-content: space-between;
    height: 350px;
  }

  .card-demo{
    width: 67%;
  }
  .clean-code{
    width: calc(100%/3);
  }
  .card{
    height: 350px;
  }

}